*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;   
   
   
   }
   body{
       background: #c0edc2;
       color:#ee9898 ;
   }
   
   header nav div  {
    margin: 5px;
    padding: 5px;
    word-spacing: 17em;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url('https://www.freepik.com/premium-photo/yellow-wooden-background-natural-texture-design_6648941.htm'); */
    }
   
   .image img{
   height: 300px;
   width: 300px;
   position: relative;
   left: 1000px;
   top: 500px;
   border-radius: 200px;
   }
   
   
   .home-content h1{
       font-size: 56px;
       font-weight: 700;
       line-height: 1.2 ;
   }
   .home-content h3{
       font-size: 32px;
       font-weight: 700;
       color: #063f55;
   }
   .home-content p{
       font-size: 25px;
       margin: 12px 0 30px;
       text-align: center;
       color: #4f7404;
   }
   
   
   .linkedin:hover{
    height: 70px;
    width: 50px;
    margin: 0;
    border-radius: 30px;
    transition: all 1s ease-in-out;
    transform: skew(45deg);
    transform: scale(0.5);
    transform: translate(123px,123px);
    display: inline-block;
    }
    .linkedin{
        height: 70px;
        width: 70px;
        margin: 0;
            
    }
    
        h2{
            text-align: center;
            color: chocolate;
        }    
        h1{
            text-align: center;
            background-color: chocolate;
            color: black;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border: 15px solid black;
            border-radius: 20px;
            /* margin: 0; */
        }    
        
        h3:hover{
            color: rgb(10, 152, 72);
            text-shadow: 2px 3px 5px black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h3{
            margin: 20px;
            text-align: center;
            /* background-color: chocolate;
            color: black;
            border: 15px solid black; */
        }
img{
display: block;
height: 400px;
width: 400px;
margin: auto;
padding: 60px;
}
.image:hover{
height: 420px;
transition-duration: 1s;
transition-timing-function: ease-in-out;
border-radius: 10px;
/* background-color: black; */
transform:rotate(360deg)
}
.home:hover{
    color: #089e1c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.About-me:hover{
    color: #089e1c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact-me:hover{
    color: #089e1c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Certifications:hover{
    color: #089e1c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Certificate{
    text-align: center;
    margin: 30px;
    border: rgb(12, 11, 11);
    
}
.Certificate li:hover{
    text-decoration:double;
    text-shadow: 6px 5px 8px rgb(75, 87, 3);
    color:  rgb(10, 152, 72);
    
}